Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
depcomp
install-sh
libodb.info
libodb.spec
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libodb.la
src/odb.lo
src/odb.o
src/ofile.lo
src/ofile.o
testing/.deps/
testing/.libs/
testing/Makefile
testing/Makefile.in
testing/binary.O
testing/fix_residue_pointers
testing/fix_residue_pointers.o
testing/o3_datafiles.odb
testing/odbcat
testing/odbcat.o
testing/odbdir
testing/odbdir.o
testing/startup.odb
testing/std_view.odb
testing/testodb2
testing/testodb2.o
